*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: linear-gradient(rgba(239,239,239,70), rgba(239,239,239,70));
}
.header{
    min-height: 100vh; /*注意*/
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.pic{/*here*/
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: ;
}
nav{
    display: flex;
    padding: 2% 2%;/*here*/
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
nav a{
    text-align: center;
    color: black;
    font-size: 2px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;/*here*/
    position: relative;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover:after{
    width: 100%;
}

.header .text-box{
    width: 90%;
    color: royalblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
}
.header .text-box h1{
    font-size: 55px;
    color: royalblue;/*here*/
}
.header .text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: darkgray;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid royalblue;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 15px;
}
.btn:hover{
    border: 1px solid green;
    background: royalblue ;
    transition: 0.5s;
}
.header .image{
    flex-basis: 40%;
}
.header .image img{
    width: 50%;
    float: right;
}





button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid blue;
    background: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: blue ;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1; /*格子显示字体出现*/
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}




/*search*/
.search{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
.search a{
    color: royalblue;
    text-decoration: none;
    font-size: 24px;
}
.search p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.search .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.search .row {
    flex-basis: 31%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box; /*格子样花*/
    transition: 0.5s;
}




/*How it works.*/
.how{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.how h1{
    font-size: 36px;
    font-weight: 600;
    color: royalblue;
}
.how p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.how .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.how .row .how-col{
    flex-basis: 31%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box; /*格子样花*/
    transition: 0.5s;
}
.how .row .how-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.how .row .how-col:hover{
    box-shadow: 0 0 50px 0 rgba(8, 21, 248, 0.8);
}





/*Why you should choose us.*/
.pic .why{
    width: 70%;
    color: royalblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: right ;
}
.pic .why h1{
    font-size: 35px;
}
.pic .why p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: darkgray;
}
.pic .why .image{
    flex: 1 1 11rem ;
}

.pic .why .image img{
    width: 60%;
    float: left;
}



/*Our Featured Properties.*/
.our{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.our h1{
    font-size: 36px;
    font-weight: 600;
    color: royalblue;
}
.our p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.our .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.our .row .our-col{
    flex-basis: 31%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box; /*格子样花*/
    transition: 0.5s;
}
.our .row .our-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.our .row .our-col:hover{
    box-shadow: 0 0 50px 0 rgba(8, 21, 248, 0.8);
}




/*Testimonials*/
.Testimonials{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
.Testimonials h1{
    color: royalblue;
    text-decoration: none;
    font-size: 36px;
}
.Testimonials p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.Testimonials .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.Testimonials .row {
    flex-basis: 31%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box; /*格子样花*/
    transition: 0.5s;
}




.contact .co{
    display: flex;
    background-image: url("hw5img/Rectangle 5.png");
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2%;
}
.contact .co iframe{
    flex: 0.5 0 25rem;
    width: 100%;
    object-fit: cover;
}
.contact .co form{
    flex: 1 1 1rem;
    padding: 5rem 2rem;
    text-align: center;
}
.contact .co form h3{
    text-transform: uppercase;
    font-size: 36px;
    color: black;
}
.contact .co form .contact-text{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background: lightgray;
    border-radius: 15px;
}
.contact .co form .contact-text input{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: black;
    text-transform: none;
    background: none;
    border-radius: 15px;
}



.footer{
    background: black;
    text-align: center;
}
.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}
.footer .links a{
    padding: 1rem 1rem;
    color: #fff;
    border: var(--border);
    font-size: 1rem;
    text-decoration: none;
}
.footer .links a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.footer .links a:hover:after{
    width: 100%;
}
.footer .credit{
    font-size: 0.5rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}
